:root {
  --Primer: #aa6283;
  --bcg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bcg);
  color: #fff;
  min-height: 3000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 5px solid #2870c9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-tes a {
  margin: 0.3rem;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 900;
  color: #7269d5;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #89beff;
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.8rem;
  color: #fff;
}

.navbar .navbar-nav a:hover {
  color: #7694e9;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #461dc0;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: #6e68d9;
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/Merifluxbck1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-position-y: 11%;
  position: relative;
}

/* gradasi background supaya tidak terpotong */
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 1%,
    rgba(255, 255, 255, 0) 7%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #ee3c8c;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 50;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

/* Temtamg Kami/About Section*/
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span {
  color: #89beff;
}

.about .foto {
  display: flex;
}

.about .foto .about-img {
  flex: 1 1 45rem;
}

.about .foto .about-img img {
  width: 90%;
  height: 90%;
  margin-top: 4rem;
}

.about .foto .content {
  flex: 1 1 35rem;
  padding: 0 0.001rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.about .foto .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .foto .content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2;
}

/* Kenangan/Menu Section */
.kenangan {
  padding: 8rem 7% 1.4rem;
  margin-top: 15rem;
}

.kenangan h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.kenangan h2 span {
  color: #7269d5;
}

.kenangan p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: bold;
  line-height: 1 0.5;
}

.kenangan .foto {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu-card {
  text-align: center;
}

.kenangan .foto .menu-card img {
  border-radius: 50%;
  width: 10%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.kenangan .foto h3 {
  margin-top: 1rem;
  color: #184ab7;
  font-size: 4rem;
  text-shadow: rgb(73, 70, 70) 1px 0 10px;
}

.kenangan .foto p {
  font-size: 1.5rem;
}


.beli .content2 h2 {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.beli .content2 p {
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
  width: 95%;
  text-align: center;
}

.beli .trying .harga h3 {
  text-align: center;
  margin-top: 0.5rem;
}








.container {
  text-align: center;
}


.container .cta2:hover {
  background-color: #2caa41;
  transition: 0.3s;
}



.container .cta2 {
  margin-top: 12rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #ee3c8c;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  font-weight: bold;
  display: inline-block;
  flex-wrap: wrap;
}



.beli .insta {
  margin-top: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
}

.beli .insta .warna {
  color: #aa6283;
}

.insta {
  text-align: center;
  justify-content: center;
}




/* Whatsapp logo  */
.beli .wa {
  display: flex;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.wa {
  align-items: center;
  justify-content: center;
}

.beli .wa .whatsapp {
  color: #2caa41;
}


.beli .wa p {
  margin-top: 0.1rem; 
}
















/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bcg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:after {
    transform-origin: 0 0;
  }

  .about .foto {
    flex-wrap: wrap;
  }

  .about .foto .about-img img {
    height: 50rem;
    object-fit: cover;
    object-position: center;
  }

  .about .foto .content {
    padding: 0;
  }

  .about .foto .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .foto .content p {
    font-size: 2rem;
  }
}


/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
